@use '../../../mediaQuery' as *;

.debug{
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    @include dynamic_single_display(767px){
        gap: 16px;
    }
    @include dynamic_display(340px, 480px){
        min-width: 300px;
        justify-content: space-between;
        gap: 0px;
    }
}