@use '../../../mediaQuery' as *;
@use '../../../font' as *;

.debug{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 1280px;
    .image{
        .picture{
            img{
                display: block;
                object-fit: cover;
                width: 100%;
                height: 558px;
                border-radius: var(--radius-size);
                @include dynamic_single_display(480px){
                    max-width: 448px;
                }
            }
        }
    }
    .contents{
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 139px 0 64px 64px;
        align-items: center;
        justify-content: flex-start;
        @include dynamic_single_display(1025px){
            padding: 32px 64px 64px 64px;
        }
        @include dynamic_single_display(499px){
            padding: 32px;
        }
        .text{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 355px;
            @include dynamic_single_display(1025px){
                height: 100%;
            }
            @include dynamic_single_display(501px){
                height: 100%;
            }
            #title{
                margin-bottom: 24px;
                @include heading1-1439;
                @include dynamic_single_display(1025px){
                    @include heading1-1024;
                }
                @include dynamic_single_display(601px){
                    width: 100%;
                    @include  heading1-480;
                }

            }
            #description{
                width: 355px;
                height: 168px;
                @include body-md-1439;
                @include dynamic_single_display(1025px){
                    width: 100%;
                    @include body-md-1024;
                }
                @include dynamic_single_display(601px){
                    width: 100%;
                    @include body-md-480;
                }

            }
            .button{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;  
                @include dynamic_single_display(1025px){
                    align-items: center;
                }
                #btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 320px;
                    height: 48px;
                    background-color: var(--dark-btn-default);
                    @include btn-txt-1439;
                    @include dynamic_single_display(480px){
                        height: 33.6px;
                        @include btn-txt-480;
                    }
                }
            }
        }
    }
}