@use '../../../mediaQuery' as *;

#debug, #group{
    display: flex;
    align-items: center;
    overflow: visible;
}

#debug{
    //always, debug should have a width of 100%
    width: 100%;
    justify-content: center;
    margin: 32px 0 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    @include dynamic_single_display(757px){
        justify-content: flex-end;
    }

    #container{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1062px;
        width: 100%;
        @include dynamic_single_display(757px){
            max-width: auto;
        }
        @include dynamic_single_display(501px){
            // max-width: 293px;
            width: 100%;
            justify-content: flex-end;
        }
        #empty{
            @include dynamic_single_display(501px){
                display: flex;
                width: 100%;
            }
        }
       #group{
        background-color: var(--dark-background);
        width: 51.94rem;
        justify-content: space-between;
        border-radius: var(--radius-size-middle);
        font-weight: var(--font-weight-semibold);
        padding: 8px 24px 8px 8px;
        @include dynamic_single_display(767px) {
            width: 8.625rem;
            padding: 0 0 0 8px;
        }
        #hambuger{
            display: flex;
            justify-content: center;
            cursor: pointer;
            img{
                display: flex;
                justify-content: center;
            }
        }
        .content {
            font-size: var(--standard-font-size);
            cursor: pointer;
            @include dynamic_display(768px, 1024px){
                font-size: var(--small-font-size);
            }
            // @include dynamic_display(500px, 767px){
            //     font-size: var(--small-font-size);
            // }
            @include dynamic_display(340px, 767px) {
                display: none;
            }
        }
        .content:hover {
            color: var(--dark-text-primary);
            cursor: pointer;
        }
        
        }
    }
}