@use '../../../mediaQuery' as *;
@use '../../../font' as *;

.debug{
    position: relative;
    display: flex;
    // border: 3px solid tomato;
    width: 100%;
    max-width: 1280px;
    .image{
        .picture{
            img{
                display: block;
                object-fit: cover;
                width: 100%;
                height: 666px;
                border-radius: var(--radius-size);
                @include dynamic_single_display(1024px){
                    height: 500px;
                }
            }
        }
    }
    .contents{
        // background-color: rgb(255, 99, 71, 0.7);
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content{
            // background-color: rgb(255, 255, 0, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 380px;
            height: 188px;
            padding: 0 30px;
            @include dynamic_single_display(1024px){
                width: 182px;
                padding: 0;
            }
            .text{
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 24px;
                @include body-lg-1439;
                @include dynamic_single_display(1024px){
                    margin-bottom: 32px;
                    @include btn-link-1024;
                }
                span{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    white-space: nowrap;
                    text-shadow: 0px 0px 8.6px var(--dark-text-default);
                }
            }
            button{
                background-color: var(--dark-text-primary);
                @include btn-txt-480;
                width: 100%;
                height: 56px;
                @include dynamic_single_display(1024px){
                    height: 40px;
                    @include heading2-480;
                }
            }
        }
    }
}